* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

:root {
  --ff-primary: "Inter", sans-serif;
  --ff-mono: "Fira Code", monospace;

  --clr-emphasis: rgb(79, 70, 229);
  --clr-emphasis-text: rgb(129, 140, 248);
  --clr-emphasis-hover: rgb(99, 102, 241);
  --clr-emphasis-alpha: #818cf81a;
  --clr-background: rgb(17, 24, 39);
  --clr-background-hover: rgb(55, 65, 81, 0.7);
  --clr-background-light: #1d283a;
  --clr-dark: #000;
  --clr-border: #1d283a;
  --clr-border-light: rgba(255, 255, 255, 0.1);
  --clr-border-light-2: rgba(55, 65, 81, 0.2);

  --clr-gray: #6b7280;
  --clr-light-gray: #a2a8b4;
  --clr-white: #e1e7ef;
  --clr-whiter: #fff;
}

.App {
  height: 100vh;
  background: var(--clr-background);
}

/* ===== CUSTOM SCROLLBARS ===== */

.container-main__messages::-webkit-scrollbar,
.text-area-main::-webkit-scrollbar,
.code-editor::-webkit-scrollbar,
.modal-main::-webkit-scrollbar {
  width: 0.6em;
  border-radius: 5px;
}

.container-main__messages::-webkit-scrollbar-track,
.text-area-main::-webkit-scrollbar-track,
.code-editor::-webkit-scrollbar-track,
.modal-main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.container-main__messages::-webkit-scrollbar-thumb,
.text-area-main::-webkit-scrollbar-thumb,
.tcode-editor::-webkit-scrollbar-thumb,
.modal-main::-webkit-scrollbar-thumb {
  background-color: var(--clr-background-light);
  outline: 1px solid var(--clr-background-light-2);
  border-radius: 5px;
}

/* ===== HEADER  ====== */

.header {
  background-color: var(--clr-dark);
  height: 47px;
  color: var(--clr-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  font-family: var(--ff-primary);
  font-size: 14px;
  border-bottom: 1px solid rgb(29, 40, 58);
}

.header-subsection,
.banner-subsection {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-subsection {
  align-items: center;
}

.header-select {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-files__selector {
  cursor: pointer;
  width: 20px;
  height: 25px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-files__selector:hover {
  color: var(--clr-whiter);
}

.header-user__API {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.icon {
  font-size: 18px;
  cursor: pointer;
}

.header-user__input {
  width: 100%;
  background-color: var(--clr-dark);
  border-radius: 5px;
  border: solid 1px var(--clr-border-light);
  padding: 4px 12px;
  color: var(--clr-white);
}

/* ===== BANNER  ====== */

h2 {
  color: var(--clr-whiter) !important;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.banner {
  font-family: var(--ff-primary);
  height: 60px;
  color: var(--clr-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  font-family: var(--ff-primary);
  font-size: 14px;
  border-bottom: 1px solid var(--clr-border-light);
}

.banner-buttons {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

/* ===== CENTRAL CONTENT CONTAINERS ===== */

.central-content-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 107px);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: var(--ff-primary);
}

.paragraph-white {
  color: var(--clr-white);
  font-weight: 600;
  padding-bottom: 5px;
  cursor: pointer;
}

/* ===== LEFT ===== */
.container-left {
  width: 25%;
  border-right: 1px solid var(--clr-border-light);
  color: var(--clr-gray);
  font-size: 14px;
}

.container-left__box {
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
}

.container-left-border {
  border-bottom: solid 1px var(--clr-border-light);
}

.tool-choice-container {
  gap: 10px;
}

.select-tool {
  display: none;
}

.select-tool-show {
  display: block;
}

.container-left__tools {
  padding-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

/* ===== MAIN ===== */
.container-main {
  width: 60%;
  border-right: 1px solid var(--clr-border-light);
  display: flex;
  flex-direction: column;
  color: var(--clr-gray);
}

.container-main__box {
  padding: 20px 24px;
}

.container-main__context {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--ff-mono);
  background-color: var(--clr-border-light-2);
}

.container-main__separator {
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.container-main__messages {
  height: calc(100% - 65px);
  overflow-y: scroll;
}

.container-main-message {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-bottom: solid 1px var(--clr-border-light);
}

.main-message__text-area-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-message__select {
  width: 20%;
}
.main-message__text-area {
  width: 70%;
}
.main-message__buttons {
  width: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.text-area-main {
  width: 100%;
  max-width: 100%;
  background-color: var(--clr-background-light);
  border-radius: 5px;
  /* min-height: 80px; */
  height: auto;
  padding: 10px;
  color: var(--clr-white);
  border: solid 1px var(--clr-border-light);
}

.text-area-main:focus,
.text-area-main:focus-visible,
pre:focus,
pre:focus-visible {
  outline: none;
}

pre {
  background-color: var(--clr-background-light) !important;
  border: solid 1px var(--clr-border-light) !important;
  border-radius: 5px !important;
}

.code-editor-container {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.code-editor {
  min-height: 120px;
  height: auto;
  background-color: var(--clr-dark);
  border: var(--clr-border-light);
  border-radius: 5px;
}

.container-main__controls {
  fonf-family: var(--ff-primary);
  border-top: 1px solid var(--clr-border-light);
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
}

.container-main__info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-emphasis-text);
  font-size: 12px;
  border: solid 1px var(--clr-border-light);
  border-radius: 5px;
  padding: 3px 9px;
  background-color: var(--clr-emphasis-alpha);
}

.container-main__controls-btns,
.modal__controls-btns {
  display: flex;
  gap: 10px;
}

/* ===== RIGHT ===== */
.container-right {
  width: 15%;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--clr-white);
}

.right-parameters {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container-right__select {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-right__slider {
  display: flex;
  flex-direction: column;
}

.container-right__slider-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-slider__span {
  background: var(--clr-background-light);
  font-size: 12px;
  border: solid 1px var(--clr-border-light);
  padding: 4px 12px;
  border-radius: 5px;
}

.slider {
  width: 100%;
  background-color: var(--clr-background-light);
}

.container-right__toggle {
  display: flex;
  justify-content: space-between;
}

/* ===== BUTTONS  ====== */

.btn {
  cursor: pointer;
  color: var(--clr-white);
  background: var(--clr-background-light);
  border: solid 1px var(--clr-border-light);
  border-radius: 5px;
  padding: 5px 13px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.btn:hover {
  background: var(--clr-background-hover);
  color: var(--clr-whiter);
}

.btn-small {
  cursor: pointer;
  color: var(--clr-white);
  background: var(--clr-background);
  border: none;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5px 5px;
  border-radius: 5px;
}

.btn-left {
  width: 80px;
}

.btn-small:hover {
  color: var(--clr-whiter);
  background-color: var(--clr-background-light);
}

.btn-modal {
  height: 30px;
}

.btn-send,
.btn-save {
  color: var(--clr-white);
  background-color: var(--clr-emphasis);
  border: none;
}

.btn-send {
  width: 101px;
}

.btn-send:hover {
  background-color: var(--clr-emphasis-hover);
}

.loading-icon {
  /* Apply the animation */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ===== INPUTS  ====== */

h3 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  color: var(--clr-whiter);
}

.select-input {
  width: 100%;
  background-color: var(--clr-background-light);
  border-radius: 5px;
  border: solid 1px var(--clr-border-light);
  padding: 4px 12px;
  color: var(--clr-white);
}

.select-input-emphasis {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-emphasis-text);
  font-size: 12px;
  border: solid 1px var(--clr-border-light);
  border-radius: 5px;
  padding: 3px 9px;
  background-color: var(--clr-emphasis-alpha);
  width: 100px;
}

.select-input-header {
  background-color: var(--clr-dark);
  color: var(--clr-gray);
}

/* Range inputs */

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid var(--clr-gray);
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: var(--clr-background-light);
  cursor: pointer;
  margin-top: -4px;
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  border: 1px solid var(--clr-border);
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: var(--clr-background-light);
  cursor: pointer;
}

/* Styling the track */

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: var(--clr-border-light);
  border-radius: 5px;
}

/* input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
} */

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: var(--clr-border-light);
  border-radius: 6px;
}

/* ====== TOGGLE BUTTONS ====== */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider-toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-background-light);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider-toggle:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: var(--clr-dark);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider-toggle {
  background-color: var(--clr-emphasis);
}

input:checked + .slider-toggle:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

/* Rounded sliders */
.slider-toggle.round {
  border-radius: 34px;
}

.slider-toggle.round:before {
  border-radius: 50%;
}

/* ===== MODAL ===== */

.modal {
  color: var(--clr-white);
  position: fixed;
  height: 80vh;
  width: 800px;
  background: var(--clr-dark);
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 20px;
  border: solid 1px var(--clr-border-light);
  display: flex;
  flex-direction: column;
}

.modal-container {
  display: none;
}

.show-modal {
  display: block;
}

.modal-main {
  overflow-y: scroll;
  margin-bottom: 15px;
}

.modal-title {
  height: 70px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.modal-title-title {
  font-size: 14px;
  font-weight: 600;
}

.modal-title-subtitle {
  font-size: 12px;
  color: var(--clr-gray);
}

.modal-main {
  height: calc(100% - 100px);
}
.text-area-modal {
  border-radius: 10px;
  background-color: var(--clr-background);
  color: var(--clr-white);
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 15px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: flex-end;
  height: 40px;
}

.warning {
  color: rgb(240, 162, 90);
}

.no-arrow-input {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.btn-send:disabled {
  background-color: var(--clr-background-light);
  color: var(--clr-gray);
  cursor: not-allowed;
}

/* PRETTY PRINT */

/* Layout */
.json-container {
  font-family: menlo, consolas, monospace;
  font-style: normal;
  font-weight: bold;
  line-height: 1.4em;
  font-size: 0.9rem;
  transition: background-color 400ms;
}
a.json-link {
  text-decoration: none;
  border-bottom: 1px solid;
  outline: none;
}
a.json-link:hover {
  background-color: transparent;
  outline: none;
}
ol.json-lines {
  white-space: normal;
  padding-inline-start: 3em;
  margin: 0px;
}
ol.json-lines > li {
  white-space: pre;
  text-indent: 0.7em;
  line-height: 1.5em;
  padding: 0px;
}
ol.json-lines > li::marker {
  font-family: system-ui, sans-serif;
  font-weight: normal;
}
.json-key,
.json-string,
.json-number,
.json-boolean,
.json-null,
.json-mark,
a.json-link,
ol.json-lines > li {
  transition: all 400ms;
}

/* Dark Mode */
.json-container {
  background-color: black;
}
.json-key {
  color: indianred;
}
.json-string {
  color: khaki;
}
.json-number {
  color: deepskyblue;
}
.json-boolean {
  color: mediumseagreen;
}
.json-null {
  color: darkorange;
}
.json-mark {
  color: silver;
}
a.json-link {
  color: mediumorchid;
}
a.json-link:visited {
  color: slategray;
}
a.json-link:hover {
  color: violet;
}
a.json-link:active {
  color: slategray;
}
ol.json-lines > li::marker {
  color: silver;
}
ol.json-lines > li:nth-child(odd) {
  background-color: #222222;
}
ol.json-lines > li:nth-child(even) {
  background-color: #161616;
}
ol.json-lines > li:hover {
  background-color: dimgray;
}
